<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card>
      <ol>
      <li> Open Keplr and import this seed in your wallet:<br>"trophy book hard tree grape museum bone fence harsh mixed air gather" </li>
      <li> Now your Ready play the Battle </li>
      <li> Click on "Battle" </li>
      <li> Choose "monster112awrcsx" </li>
      <li> Choose "monster112sarcsb" </li>
      <li> Click "Battle !!!" </li>
      </ol>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      Your Contract: {{env_cont}}
      <br>
      Account: {{acc?.address}}
      <br>
      Balance: {{acc?.balance.result[0].amount}} ucosm
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<br>
<mat-grid-list cols="2" rowHeight="650px">
  <mat-grid-tile *ngFor="let monster of monsterInfoArr">
    <app-monster-card [monsterInfo]="monster">
    </app-monster-card>
  </mat-grid-tile>
</mat-grid-list>