<mat-card>
  Account: {{acc?.address}}
  <br>
  Balance: {{acc?.balance.result[0].amount}} ucosm
</mat-card>
<br>
<mat-card class="monster-card">
  <mat-card-header>
    <div mat-card-avatar class="monster-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Monster Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://robohash.org/monster112a9lf95atqvyejqe22xnna8x4mfqd75tkq2kvwcjyysarcsx"
    alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of monster from Japan.
      A small, agile monster that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Sell</button>
    <button mat-button>Battle</button>
  </mat-card-actions>
</mat-card>