<button mat-button [matMenuTriggerFor]="menu">
  <span class="material-icons">
    menu
  </span>
  Cosmons Game / NFT Marketplace</button>
<!-- #enddocregion mat-menu-trigger-for -->
<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="['/home']">Home</button>
  <button mat-menu-item [routerLink]="['/home/howtoplay']">How to Play</button>
  <button mat-menu-item [routerLink]="['/home/battle']">Battle</button>
  <button mat-menu-item [routerLink]="['/home/marketplace']">Marketplace</button>
  <button mat-menu-item [routerLink]="['/home/faucet']">CW-20 Faucet</button>
  <button mat-menu-item [routerLink]="['/home/gameowner']">Game Owner</button>
</mat-menu>
<router-outlet></router-outlet>