@mixin define-custom-property($name, $value) {
  #{custom-property-name($name)}: $value;
}


.monster-card {
  max-width: 250px;
}

.monster-header-image {
  background-image: url('http://hackatom-pictures.blockscape.network/monsterInfo.access.owner');
  background-size: cover;
}
