<mat-card class="monster-card">
  <mat-card-header>
    <div mat-card-avatar class="monster-header-image"></div>
    <mat-card-title>{{monsterInfo.info.name}}</mat-card-title>
    <mat-card-subtitle>Monster Lv: {{monsterInfo.info.level}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="http://hackatom-pictures.blockscape.network/{{monsterInfo.address}}">
  <mat-card-content>
    Token Name/NFT ID:
    <div style="font-size: x-small;">
      {{monsterInfo.address}}
    </div>
    Owner:
    <div style="font-size: x-small;">
      {{monsterInfo.access.owner}}
    </div>
    Description:
    <p>
      {{monsterInfo.info.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [routerLink]="['/home/marketplace']">Sell</button>
    <button mat-button [routerLink]="['/home/battle']">Battle</button>
  </mat-card-actions>
</mat-card>